.homewrap {
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 60px;
}

.title {
  font-size: 100px;
  font-weight: 700;
}

.desc {
  font-size: 18px;
  font-weight: 400;
}

.footer {
  position: absolute;
  bottom: 15px;
  right: 20px;
}

.footer_text {
  font-size: 14px;
  color: #505050;
}

@media (max-width: 600px) {
  .title {
    font-size: 50px;
  }
}
